<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppMétéo</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="style.css">

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
</head>

<body class="bg-dark">

    <nav class="header navbar navbar-expand-lg navbar-light bg-light">
        <a href="index.html"><img src="./ressources/meteo.png" alt="logo meteo" class="logo-meteo-menu"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact.html">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="aide.html">Aide</a>
                </li>
            </ul>

        </div>
    </nav>

    <div class="big-container d-flex bg-success justify-content-center align-items-center">
        <div class="container">

            <form id="recupVille" class="mb-3 p-3 d-flex justify-content-center">
                <div class="input-group">
                    <input type="text" id="ville" name="ville" class="form-control" placeholder="Rechercher une ville">
                    <button class="btn btn-primary" type="submit">Rechercher</button>
                </div>
            </form>

            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex align-items-center justify-content-center">
                        <img src="./ressources/meteo.png" alt="logo du temps qu'il fait"
                            class="avant-appel-api-logo-meteo logo-meteo">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="bloc-info text-center">
                        <p class="jour text-light h3">Jour de la semaine</p>
                        <p class="temps">Temps</p>
                        <p class="temperature">Température</p>
                        <p class="localisation text-light">Localisation</p>
                    </div>

                    <div class="row">
                        <div id="accordion" class="w-100 text-center">
                            <div class="card">
                                <div class="card-header bg-info" id="headingOne">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link text-light" data-toggle="collapse" data-target="#collapseOne"
                                            aria-expanded="true" aria-controls="collapseOne">
                                            Informations avancées
                                        </button>
                                    </h5>
                                </div>

                                <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body p-0">
                                        <div class="info-supp-bloc">
                                            <div class="info-supp-nom-et-valeur">
                                                <div class="info-supp-nom">
                                                    <p class="text-center">Température Ressenti</p>
                                                </div>
                                                <div>
                                                    <p class="temperatureRessenti text-center"></p>
                                                </div>
                                            </div>
                                            <div class="info-supp-nom-et-valeur">
                                                <div class="info-supp-nom">
                                                    <p class="text-center">Humidité</p>
                                                </div>
                                                <div>
                                                    <p class="humidite text-center"></p>
                                                </div>
                                            </div>
                                            <div class="info-supp-nom-et-valeur">
                                                <div class="info-supp-nom">
                                                    <p class="text-center">UV</p>
                                                </div>
                                                <div>
                                                    <p class="UV text-center"></p>
                                                </div>
                                            </div> 
                                            <div class="info-supp-nom-et-valeur">
                                                <div class="info-supp-nom">
                                                    <p class="text-center">Vent</p>
                                                </div>
                                                <div>
                                                    <p class="vent text-center"></p>
                                                </div>
                                            </div>
                                            <div class="info-supp-nom-et-valeur">
                                                <div class="info-supp-nom">
                                                    <p class="text-center">Pression Atmosphérique</p>
                                                </div>
                                                <div>
                                                    <p class="pressionAtmospherique text-center"></p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="heure-prevision-bloc" id="heure-prevision-bloc">

                        <!-- Heures de prévision -->
                        <heure-prevision-bloc v-for="prevision in previsions" :key="prevision.id" :nom="prevision.nom" :valeur="prevision.valeur"></heure-prevision-bloc>

                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="jour-prevision-bloc" id="jour-prevision-bloc">

                        <!-- Jours de prévision -->
                        <jour-prevision-bloc v-for="jour in jours" :key="jour.id" :id="jour.id" :class="['bloc-j', { active: jour.id === jourActif }]"></jour-prevision-bloc>

                    </div>
                </div>
            </div>

        </div>
    </div>

    <footer>
        <div
            class="footer-contributeur container-md d-flex flex-column justify-content-center align-items-center bg-light p-3">
            <p>Contributeurs :</p>
            <p>Liam LE NY et Flavien MEZIRARD</p>
        </div>
    </footer>

    <!-- JavaScript -->
    <script type="module" src="scripts/main.js"></script>

    <!-- JavaScript for Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>