*,
::after,
::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
}

body {
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
}

a {
    text-decoration: none;
}

.content {
    min-height: 100%;
}

/* ---------- Menu ---------- */

#menu {
    position: relative;
    padding: 20px 0;
}

#menu ul {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

#menu ul li {
    font-size: 20px;
    color: white;
}

/* ---------- Pied de page ---------- */
footer {
    /* background: red; */
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 50px 0;
    text-align: center;
    font-size: small;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
}


/* ---------- App meteo ---------- */

.big-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
    width: 100%;
    height: 100%;
}

.container {
    width: 800px;
    height: 600px;
    background: linear-gradient(45deg, #1068b6, #ec60a6);
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */

    border: 1px solid #f1f1f1;
    display: grid;
    grid-template: 100px 300px 100px 100px / repeat(8, 100px);
}

h1 {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
}

.bloc-logo-info {
    grid-area: 2 / 1 / 3 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bloc-logo {
    width: 50%;
}

.bloc-logo img {
    width: 100%;
    height: auto;
}

.logo-meteo {
    max-width: 70%;
    height: auto;
}

.bloc-info {
    width: 50%;
}

.bloc-info .temps {
    font-size: 40px;
}

.bloc-info .temps::first-letter {
    text-transform: capitalize;
}

.bloc-info .temperature {
    font-size: 60px;
}

.bloc-info .localisation {
    font-size: 40px;
    word-wrap: break-word;
}

.jour {
    font-size: 30px;
}

.heure-prevision-bloc {
    grid-area: 3 / 1 / 4 / -1;
}

.jour-prevision-bloc {
    grid-area: 4 / 1 / 5 / -1;
}

.heure-prevision-bloc,
.jour-prevision-bloc {
    display: grid;
    grid-template: 100px / repeat(7, 1fr);
}

.bloc-h,
.bloc-j {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #f1f1f1;
    font-size: 21px;
}

.bloc-j:hover {
    color: #003366;
    cursor: pointer;
}



.bloc-h:not(:last-child),
.bloc-j:not(:last-child) {
    border-right: 1px solid #f1f1f1;
}

.bloc-h p,
.bloc-j p {
    margin: 5px;
}

.disparition {
    opacity: 0;
}

.active {
    color: #003366;
}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 10px;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

#recupVille input {
    border-radius: 20px;
}

.invisible {
    display: none;
}

/* ---------- Contact page ---------- */

#title-contact {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
}

.big-container-formulaire {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
    width: 100%;
    height: 70%;
}

.container-formulaire {
    width: fit-content;
}

.bloc-input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.bloc-input label {
    margin-bottom: 7px;
}


.bloc-input input,
textarea {
    padding: 10px 3px;
}

.bloc-button {
    display: flex;
    justify-content: center;
}

button {
    padding: 7px 20px;
    border-radius: 5px;
    background: linear-gradient(45deg, #1068b6, #ec60a6);
    color: white;
}


/* ---------- Aide page ---------- */

.big-container-aide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.aide-container {
    padding: 50px 20px;
    background: linear-gradient(45deg, rgb(59, 50, 50), rgb(22, 28, 29));
}

.aide-container section>ol {
    margin-top: 20px;
    margin-left: 50px;
}

.section-faq h2 {
    margin: 50px 0;
}

.aide-container section details {
    margin-bottom: 2 0px;
}

.aide-container section details p {
    margin: 20px 0 40px 10px;
}


/* ********** RESPONSIVE ********** */

/* ---------- Accueil ---------- */

@media (max-width: 768px) {
    .container {
        width: 100%;
        height: auto;
        grid-template: auto auto auto auto / 1fr;
        top: 60%;
    }

    .bloc-logo-info {
        flex-direction: column;
        align-items: center;
    }

    .bloc-logo,
    .bloc-info {
        width: 100%;
        text-align: center;
    }

    .bloc-info .temps {
        font-size: 30px;
    }

    .bloc-info .temperature {
        font-size: 40px;
    }

    .bloc-info .localisation {
        font-size: 30px;
    }

    .heure-prevision-bloc,
    .jour-prevision-bloc {
        grid-template-columns: repeat(4, 1fr);
    }
}